* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    box-sizing: border-box;
  }
  

  .menu-container{
    background-color:  rgb(34, 33, 33);
    padding: 20px;    
  }



  .menu-container{
    display: flex;
    justify-content: center;
  }
  

  .menu{
    width: 900px;
    color: aliceblue;
    background-color: rgb(34, 33, 33);
    display: flex;
    justify-content: space-around;
}